.box_container{
    width: 30%;
    float: left;
    height: 400px;
    margin-right: 40px
}

.container {
    background-color:white;
    font-family: Mina;
    overflow: hidden;
    padding: 10px;
}

body{
    background-color:  #303030;
}

header{
    background-color: #545151; 
    padding: 5px;
    color: #ffffff;
}

nav{
    text-align: center;
    background-color: #0fc2dc;
    font-family: Mina;
}

header nav a{
    font-size: 20px;
    color: white;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover{
    color: black;
}

main{
    padding:5px;
}

footer{
    padding: 5px;
    text-align: center;
    font-family: Mina;
    font-size: 16px;
    background-color: #0fc2dc;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 4px;
    font-family: Francois One;
    text-shadow: 4px 4px grey;
    text-transform: uppercase;
}

h2{
    font-size: 30px;
    font-family: Francois One;
}

div.box_container p{
    text-align: justify;
}

.wrapper {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 10px; 
}
  
.wrapper .box {
    width: 30px;
    padding-top: -8px;
    color: white;
    margin-left: 13px;
    position: absolute;
    top: 0;
    left: 100%;
    background: red;
    font-size: 16px;
    height: 53px;
    text-align: center;
}

div.box_container a{
    text-decoration: none;
}

@media only screen and (max-width: 640px){
    .responsive{
        width: 100% !important;
        height: auto;
        }
}

footer img{
    float: right;
    margin-top: -3px;
    border: 0;
    width: 88px;
    height: 31px;
}


